body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("https://avatars.mds.yandex.net/get-games/1892995/2a0000017bfd0a57086f7766cc436669b5f7/orig");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    width: 500px;
}

#board {
    width: 600px;
    height: 600px;

    background-color: transparent;
    border: 10px solid rgb(214, 111, 111);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 140px;
    height: 140px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}
.leaderboard-container {
  max-width: 500px;
  margin: 50px;
  background-color:transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 80%;
  margin-top: -40%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: transparent;
}

h1 {
  text-align: center;
  color: #ddd;
}
tr{
    color: #ddd;
}
#sortButton{
    background: transparent;
    color:#ddd;
    border:transparent;
}